@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Open+Sans:wght@700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
:root{
  --primaryColor: #ec9b13;
  --primaryColorDark: #c18308;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

body{
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}

.text-title{
  font-family: 'Montaga', serif;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}

.main-link:hover {
  background: var(--primaryColorDark);
  text-decoration: none;
  color: var(--mainGrey);
  outline-color: var(--primaryColorDark);
}

.cart-icon {
  cursor: pointer;
}